header {
    width: 100%;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    block-size: 80px;
}