.hero {
    padding-top: 60px;
}
.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data {
    width: 500px;
    height: 400px;
    display: flex;        
    flex-direction: column;
    justify-content: space-evenly;
   
}

.title {
    font-size: 1.2rem;
    font-weight: 900;    
}

.subtitle {
    font-size: 3rem;
    font-weight: 900;
}

.isTerciary {   
    box-shadow: -6px 7px 0px 1px rgba(255,255,255,1);
    -webkit-box-shadow: -6px 7px 0px 1px rgba(255,255,255,1);
    -moz-box-shadow: -6px 7px 0px 1px rgba(255,255,255,1);
}

.description{
    font-weight: 300;
}
.phone,
.email {
    display: flex;
    align-items: center;
    gap: 10px;   
}
.phone-icon,
.email-icon {
    height: 30px;    
}

.main-btn:hover {
    top:2px;
}

.profile-picture-container{
    width: 400px;
    border-top: 15px solid var(--primary-color);
    border-left: 15px solid var(--primary-color);
       
}

.profile-picture{    
    box-shadow: 12px 9px 0px 1px rgba(255,255,255,1);
    -webkit-box-shadow: 12px 9px 0px 1px rgba(255,255,255,1);
    -moz-box-shadow: 12px 9px 0px 1px rgba(255,255,255,1);
}