.projects{
    margin-bottom: 50px;
}
.projects .container{
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    /* border: 1px solid red; */
}

.project-description{
    line-height: 60px;
    /* border: 1px solid red; */
}

.isSecondary{
    background-color: transparent;
    color: var(--primary-color);
    border:2px solid var(--primary-color);
    width: 300px;
}

.project-title{
    background: var(--primary-color);
    align-self: flex-start;
    color: white;
    font-size:2rem;
    padding-block-start: 4px;
    padding-block-end: 4px;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    text-decoration: none;
    /* margin-inline-start: 4px; */
    box-shadow: -4px 4px 0 white;
}